@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item span.text-primary {
    color: #007bff;
}